@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
$poppins: 'Poppins', sans-serif;
$background-dark: #090707;
$blue: #097FD9;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// dekstop top nav container
.gym-top-nav-container {
    width: 100%;
    background-color: $background-dark;

    .top-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0px;
        max-width: 1200px;
        margin: auto;

        .top-nav-sub {
            display: inherit;
            align-items: inherit;

            ul {
                margin-right: 44px;

                li {
                    display: inline;
                    list-style: none;

                    a {
                        text-decoration: none;
                        font-family: $poppins;
                        font-size: 16px;
                        font-weight: 500;
                        color: #fff;
                    }
                }

                li:not(:last-child) {
                    margin-right: 16px;
                }
            }

            .top-nav-btns {
                display: flex;
                column-gap: 12px;

                .top-nav-btn {
                    font-family: $poppins;
                    font-size: 16px;
                    font-weight: 500;
                    color: #fff;
                    border-radius: 10px;
                    text-decoration: none;
                    padding: 11px 28px;
                }

                .top-nav-btn-log {
                    border: 2px solid #fff;
                }

                .top-nav-btn-reg {
                    background-color: $blue;
                    font-weight: 600;
                }
            }
        }
    }
}

// mobile top nav container
.gym-mb-top-nav-container {
    width: 100%;
    background-color: $background-dark;
    padding: 5%;
    position: fixed;
    display: none;

    .mb-nav-sub {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 999;

        .mb-tp-nav-tgl-btn {
            background-image: url('Gym/assets/icons/menu.png');
            height: 30px;
            width: 30px;
            background-size: cover;
            cursor: pointer;
            display: block;
            transition: 2s ease-in-out;
        }
    }

    .mb-nav {
        width: 100%;
        position: absolute;
        left: 0;
        margin: auto;
        transform: translateY(-100vh);
        transition: 0.3s ease-in-out;
        background-color: $background-dark;
        z-index: 99;
        padding-bottom: 50px;

        ul {
            li {
                text-align: center;
                list-style: none;

                a {
                    text-decoration: none;
                    font-family: $poppins;
                    font-size: 16px;
                    font-weight: 500;
                    color: #fff;
                    text-align: center;
                }
            }

            li:not(:last-child) {
                margin-bottom: 12px;
            }
        }

        .mb-top-nav-btns {
            display: flex;
            column-gap: 12px;
            justify-content: center;
            margin-top: 20px;

            .mb-top-nav-btn {
                font-family: $poppins;
                font-size: 16px;
                font-weight: 500;
                color: #fff;
                border-radius: 10px;
                text-decoration: none;
                padding: 11px 28px;
            }

            .mb-top-nav-btn-log {
                border: 2px solid #fff;
            }

            .mb-top-nav-btn-reg {
                background-color: $blue;
                font-weight: 600;
            }
        }
    }

    .mb-nav-active {
        transform: translateY(0)
    }

    .mb-tgl-btn-active {
        background-image: url('Gym/assets/icons/cross.png') !important;

    }

}

// 