@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

// styles
$Urbanist: 'Urbanist', sans-serif;
$poppins: 'Poppins', sans-serif;
$background-dark: #090707;
$blue: #097FD9;
$max-width: 1200px;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: $background-dark;
}

// dekstop top nav container
.gym-top-nav-container {
    width: 100%;
    background-color: $background-dark;
    z-index: 999;

    .top-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0px;
        max-width: 1200px;
        margin: auto;

        .top-nav-sub {
            display: inherit;
            align-items: inherit;

            ul {
                margin-right: 44px;

                li {
                    display: inline;
                    list-style: none;

                    a {
                        text-decoration: none;
                        font-family: $poppins;
                        font-size: 16px;
                        font-weight: 500;
                        color: #fff;
                    }
                }

                li:not(:last-child) {
                    margin-right: 16px;
                }
            }

            .top-nav-btns {
                display: flex;
                column-gap: 12px;

                .top-nav-btn {
                    font-family: $poppins;
                    font-size: 16px;
                    font-weight: 500;
                    color: #fff;
                    border-radius: 10px;
                    text-decoration: none;
                    padding: 11px 28px;
                }

                .top-nav-btn-log {
                    border: 2px solid #fff;
                }

                .top-nav-btn-reg {
                    background-color: $blue;
                    font-weight: 600;
                }
            }
        }
    }
}

// mobile top nav container
.gym-mb-top-nav-container {
    width: 100%;
    background-color: $background-dark;
    padding: 5%;
    position: fixed !important;
    display: none;
    z-index: 999;

    .mb-nav-sub {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 999;

        .mb-tp-nav-tgl-btn {
            // background-image: url('./assets/icons/menu.png');
            background-image: url('/assets/icons/menu.png');
            height: 30px;
            width: 30px;
            background-size: cover;
            cursor: pointer;
            display: block;
            transition: 0.5s ease-in-out;
        }
    }

    .mb-nav {
        width: 100%;
        position: absolute;
        left: 0;
        margin: auto;
        transform: translateY(-100vh);
        transition: 0.5s ease-in-out;
        background-color: rgba(9, 7, 7, 0.6);
        backdrop-filter: blur(6px);
        z-index: 99;
        padding-bottom: 50px;

        ul {
            li {
                text-align: center;
                list-style: none;

                a {
                    text-decoration: none;
                    font-family: $poppins;
                    font-size: 16px;
                    font-weight: 500;
                    color: #fff;
                    text-align: center;
                }
            }

            li:not(:last-child) {
                margin-bottom: 12px;
            }
        }

        .mb-top-nav-btns {
            display: flex;
            column-gap: 12px;
            justify-content: center;
            margin-top: 20px;

            .mb-top-nav-btn {
                font-family: $poppins;
                font-size: 16px;
                font-weight: 500;
                color: #fff;
                border-radius: 10px;
                text-decoration: none;
                padding: 11px 28px;
            }

            .mb-top-nav-btn-log {
                border: 2px solid #fff;
            }

            .mb-top-nav-btn-reg {
                background-color: $blue;
                font-weight: 600;
            }
        }
    }

    .mb-nav-active {
        transform: translateY(0)
    }

    .mb-tgl-btn-active {
        background-image: url('/assets/icons/cross.png') !important;

    }

    .mb-nav-scroll {
        background-color: rgba(9, 7, 7, 0.6) !important;
        backdrop-filter: blur(6px) !important;
    }

}

// hero container
.gym-hero-container {
    width: 100%;
    background-color: $background-dark;

    .hero {
        max-width: $max-width;
        margin: auto;
        padding-top: 25px;
        position: relative;

        .hero-1 {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;

            .hero-1-1 {
                position: relative;
                top: 125px;

                h1 {
                    color: #fff;
                    font-family: $Urbanist;
                    font-size: 64px;
                    font-weight: 700;
                }

                h3 {
                    color: rgba(255, 255, 255, 0.50);
                    font-family: $poppins;
                    font-size: 18px;
                    font-weight: 500;
                    margin-top: 12px;
                }

                .hero-btns {
                    display: flex;
                    margin-top: 32px;
                    column-gap: 32px;

                    .hero-btn {
                        color: #fff;
                        font-family: $poppins;
                        font-size: 18px;
                        font-weight: 600;
                        text-align: center;
                        padding: 11px 28px;
                        text-decoration: none;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                    }

                    .hero-btn-start {
                        background-color: $blue;
                    }

                    .hero-btn-play {
                        display: flex;
                        align-items: center;

                        img {
                            margin-right: 12px;
                        }
                    }
                }
            }

            .hero-1-2 {
                display: flex;
                align-items: flex-start;
                position: relative;

                >img {
                    position: relative;
                    left: 100px;
                    z-index: 3;
                }

                .hero-1-2-img-sub {
                    display: inherit;
                    flex-direction: column;
                    row-gap: 24px;

                    img {
                        width: 127px;
                        height: auto;
                    }

                    h5 {
                        color: #fff;
                        font-family: $Urbanist;
                        font-size: 18px;
                        font-weight: 500;

                    }
                }
            }
        }

        .hero-2 {
            position: absolute;
            top: 175px;
            right: 308px;
            z-index: 1;

            h2 {
                color: rgba(255, 255, 255, 0.11);
                display: inline-block;
                font-family: $Urbanist;
                font-size: 142px;
                font-weight: 900;
                transform: rotate(-90deg);
            }
        }
    }

}

// explore container
.gym-exp-container {
    width: 100%;
    background-color: $background-dark;
    position: relative;
    z-index: 9;
    top: -215px;

    .gym-exp-con-sub {
        max-width: 1200px;
        margin: auto;
        position: relative;

        .exp-h2 {
            display: inline-block;
            position: absolute;
            left: -40px;
            top: 0;

            >h2 {
                color: rgba(255, 255, 255, 0.11);
                font-family: $Urbanist;
                font-size: 142px;
                font-weight: 900;
            }
        }

        .exp {
            max-width: 1200px;
            margin: auto;
            position: relative;

            .exp-sub-1 {
                position: relative;
                top: 90px;
                left: 120px;

                h2 {
                    color: #fff;
                    font-family: $Urbanist;
                    font-size: 56px;
                    font-weight: 700;
                }
            }
        }

        .exp-slider {
            top: 150px;
            column-gap: 26px;
            position: relative;

            .slick-prev {
                top: -105px;
                left: 1095px;
            }

            .slick-next {
                top: -105px;
                right: 33px;
            }

            .slick-prev::before,
            .slick-next::before {
                // font-size: 40px !important;
                border: 2px solid #fff;
                border-radius: 50%;
                color: transparent;
                transition: 0.2s ease-in-out;
                content: url('/assets/icons/left-arrow.svg');
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                padding: 20px;
            }

            .slick-next::before {
                content: url('/assets/icons/right-arrow.svg') !important;
            }

            .slick-prev:hover::before,
            .slick-next:hover::before {
                background-color: $blue;
                border-color: $blue;
            }

            .exp-slide {
                border-radius: 12px;
                padding: 40px 24px;
                background: #0D0D0D;
                transition: 0.2s ease-in-out;

                .exp-svg path {
                    fill: $blue;
                }

                h3 {
                    color: #fff;
                    font-family: $poppins;
                    font-size: 24px;
                    font-weight: 600;
                }

                p {
                    color: rgba(255, 255, 255, 0.5);
                    font-family: $poppins;
                    font-size: 16px;
                    font-weight: 400;
                }
            }

            .exp-slide:hover,
            .exp-slide-touch {
                background-color: $blue !important;

                .exp-svg path {
                    fill: #fff;
                }

                p {
                    color: #fff;
                }
            }

            .exp-slide:not(:last-child) {
                margin-right: 26px;
            }
        }
    }
}

// plan container
.gym-plan-container {
    width: 100%;

    .plan {
        padding-top: 120px;
        padding-bottom: 120px;
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 100px;

        .plan-gallery {
            position: relative;

            .plan-gallery-img {
                border-radius: 12px;
            }

            .plan-gallery-img-1 {
                width: 441px;
                height: 301px;
                background-image: url('/assets/images/plan-img-1.jpeg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                z-index: 1;
            }

            .plan-gallery-img-2 {
                width: 307px;
                height: 264px;
                background-image: url('/assets/images/plan-img-2.jpeg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;
                z-index: 2;
                top: -108px;
                left: 286px;
            }

            .plan-gallery-img-3 {
                width: 312px;
                height: 240px;
                background-image: url('/assets/images/plan-img-3.jpeg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                z-index: 3;
                top: 328px;
                left: 127px;
            }
        }

        .plan-txt {
            h2 {
                color: #fff;
                font-family: $Urbanist;
                font-size: 56px;
                font-weight: 700;
            }

            ul {
                margin-top: 24px;
                margin-bottom: 24px;

                li {
                    list-style: none;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    font-family: $poppins;
                    font-size: 16px;
                    font-weight: 500;
                }

                li:not(:last-child) {
                    margin-bottom: 10px;
                }
            }

            ul::after {
                margin-bottom: 24px !important;
            }

            .plan-txt-btn-grp {
                display: flex;
                align-items: center;
                column-gap: 16px;

                .plan-btn {
                    border-radius: 10px;
                    color: #fff;
                    font-family: $poppins;
                    font-size: 18px;
                    font-weight: 600;
                    padding: 20px 28px;
                    text-decoration: none;
                }

                .plan-btn-join {
                    background-color: $blue;
                    border: 2px solid $blue;
                }

                .plan-btn-contact {
                    border: 2px solid #fff;
                }
            }
        }
    }

}

// enhance container 
.gym-enh-container {
    width: 100%;
    padding: 40px;

    .enh {
        max-width: 1200px;
        margin: auto;

        .enh-sub {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 40px;
            background-color: #0D0D0D;
            border-radius: 16px;
            column-gap: 145px;

            h2 {
                color: #fff;
                font-family: $Urbanist;
                font-size: 32px;
                font-weight: 700;
                flex: 1;
            }

            a {
                background-color: $blue;
                border-radius: 10px;
                color: #fff;
                font-family: $poppins;
                font-size: 18px;
                font-weight: 600;
                text-decoration: none;
                padding: 20px 28px;
            }
        }
    }
}