@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gym-top-nav-container {
  width: 100%;
  background-color: #090707;
}
.gym-top-nav-container .top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
  max-width: 1200px;
  margin: auto;
}
.gym-top-nav-container .top-nav .top-nav-sub {
  display: inherit;
  align-items: inherit;
}
.gym-top-nav-container .top-nav .top-nav-sub ul {
  margin-right: 44px;
}
.gym-top-nav-container .top-nav .top-nav-sub ul li {
  display: inline;
  list-style: none;
}
.gym-top-nav-container .top-nav .top-nav-sub ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.gym-top-nav-container .top-nav .top-nav-sub ul li:not(:last-child) {
  margin-right: 16px;
}
.gym-top-nav-container .top-nav .top-nav-sub .top-nav-btns {
  display: flex;
  column-gap: 12px;
}
.gym-top-nav-container .top-nav .top-nav-sub .top-nav-btns .top-nav-btn {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  padding: 11px 28px;
}
.gym-top-nav-container .top-nav .top-nav-sub .top-nav-btns .top-nav-btn-log {
  border: 2px solid #fff;
}
.gym-top-nav-container .top-nav .top-nav-sub .top-nav-btns .top-nav-btn-reg {
  background-color: #097FD9;
  font-weight: 600;
}

.gym-mb-top-nav-container {
  width: 100%;
  background-color: #090707;
  padding: 5%;
  position: fixed;
  display: none;
}
.gym-mb-top-nav-container .mb-nav-sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 999;
}
.gym-mb-top-nav-container .mb-nav-sub .mb-tp-nav-tgl-btn {
  background-image: url("Gym/assets/icons/menu.png");
  height: 30px;
  width: 30px;
  background-size: cover;
  cursor: pointer;
  display: block;
  transition: 2s ease-in-out;
}
.gym-mb-top-nav-container .mb-nav {
  width: 100%;
  position: absolute;
  left: 0;
  margin: auto;
  transform: translateY(-100vh);
  transition: 0.3s ease-in-out;
  background-color: #090707;
  z-index: 99;
  padding-bottom: 50px;
}
.gym-mb-top-nav-container .mb-nav ul li {
  text-align: center;
  list-style: none;
}
.gym-mb-top-nav-container .mb-nav ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.gym-mb-top-nav-container .mb-nav ul li:not(:last-child) {
  margin-bottom: 12px;
}
.gym-mb-top-nav-container .mb-nav .mb-top-nav-btns {
  display: flex;
  column-gap: 12px;
  justify-content: center;
  margin-top: 20px;
}
.gym-mb-top-nav-container .mb-nav .mb-top-nav-btns .mb-top-nav-btn {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  padding: 11px 28px;
}
.gym-mb-top-nav-container .mb-nav .mb-top-nav-btns .mb-top-nav-btn-log {
  border: 2px solid #fff;
}
.gym-mb-top-nav-container .mb-nav .mb-top-nav-btns .mb-top-nav-btn-reg {
  background-color: #097FD9;
  font-weight: 600;
}
.gym-mb-top-nav-container .mb-nav-active {
  transform: translateY(0);
}
.gym-mb-top-nav-container .mb-tgl-btn-active {
  background-image: url("Gym/assets/icons/cross.png") !important;
}

/*# sourceMappingURL=main.css.map */
