@import 'main';

@media screen and (max-width: 840px) {

    // dekstop top nav container
    .gym-top-nav-container {
        display: none;
    }

    // mobile top nav container
    .gym-mb-top-nav-container {
        display: block;
    }

    // hero container
    .gym-hero-container {
        .hero {
            padding: 5%;
            padding-top: 100px;
            z-index: 99;

            .hero-1 {
                flex-direction: column;
                z-index: 3;

                .hero-1-1 {
                    top: 0 !important;

                    h1 {
                        font-size: 54px;
                    }

                    .hero-btns {
                        column-gap: 10px;

                        .hero-btn {
                            padding: 11px 15px;
                            flex: 1;
                            justify-content: center;
                            margin: auto;
                        }

                        .hero-btn-play {
                            text-align: left;
                        }
                    }
                }

                .hero-1-2 {
                    margin-top: 32px;
                    flex-wrap: wrap;

                    img {
                        width: 100%;
                        left: 0;
                    }
                }
            }

            .hero-2 {
                top: 550px;
                right: 0;
            }
        }
    }

    // exp container 
    .gym-exp-container {
        padding: 5%;
        top: 0 !important;

        .exp-h2 {
            overflow: hidden;
            transform: rotate(90deg);
            left: 0;
            top: 200px;
        }

        .exp {
            .exp-sub-1 {
                left: 0 !important;

                h2 {
                    font-size: 46px;
                }
            }
        }

        .exp-slider {

            .slick-prev,
            .slick-next {
                display: none !important;
            }

            .exp-slide {
                margin-right: 0 !important;
            }
        }
    }

    // plan container
    .gym-plan-container {
        padding: 5%;

        .plan {
            padding-top: 175px;
            padding-bottom: 0;

            .plan-gallery {
                .plan-gallery-img-1 {
                    width: 316px;
                    height: 167px;
                }

                .plan-gallery-img-2 {
                    width: 207px;
                    height: 164px;
                    left: 0;
                    top: -75px;
                }

                .plan-gallery-img-3 {
                    width: 212px;
                    height: 140px;
                    top: 200px;
                    left: 100px;
                }
            }

            .plan-txt {
                padding-top: 50px;

                h2 {
                    font-size: 46px;
                }
            }
        }
    }

    // enhance container 
    .gym-enh-container {
        padding: 5%;

        .enh {
            .enh-sub {
                row-gap: 24px;
            }
        }
    }
}