@import url();

@media screen and (max-width: 720px) {

    // dekstop top nav container
    .gym-top-nav-container {
        display: none;
    }

    // mobile top nav container
    .gym-mb-top-nav-container {
        display: block;
    }

    // hero container
    .gym-hero-container {
        .hero {
            padding: 5%;
            padding-top: 100px;

            .hero-1 {
                flex-direction: column;
                z-index: 3;

                .hero-1-1 {
                    top: 0 !important;

                    .hero-btns {
                        column-gap: 10px;

                        .hero-btn {
                            padding: 11px 15px;
                            flex: 1;
                            justify-content: center;
                            margin: auto;
                        }

                        .hero-btn-play {
                            text-align: left;
                        }
                    }
                }

                .hero-1-2 {
                    margin-top: 32px;

                    img {
                        width: 100%;
                        left: 0;
                    }
                }
            }

            .hero-2 {
                top: 550px;
                right: 0;
            }
        }
    }
}